<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecs_app">
    <!-- INTERNET PERMISSION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ati"
        android:label="@string/app_name"
        android:orientation="vertical"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TRF_02_lotes_ingresoCodigoBarra"></activity>
        <activity android:name=".TRF_02_lotes" />
        <activity
            android:name=".TRF_01_sellos"
            android:label="@string/title_activity_trf_01_sellos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TRF_00" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>